@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.cartassec, .contacto, .cartasindex, .funciona_titulo, .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    left: -10000px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  color: #030027;
}

.boton {
  border: 2px solid #f8f8f8;
  transition: 0.7s;
  color: #f8f8f8;
}

::-moz-placeholder {
  opacity: 0.8;
  color: #f8f8f8;
  font-size: 17px;
  text-align: center;
}

::placeholder {
  opacity: 0.8;
  color: #f8f8f8;
  font-size: 17px;
  text-align: center;
}

.controles {
  width: 80%;
  background: #030027;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
  border: 1px solid #C16E70;
  font-size: 18px;
  transition: 1s;
  color: #f8f8f8;
}
.controles:hover {
  border: 1px solid #f8f8f8;
}

.terminos {
  color: #C16E70;
  text-decoration: none;
  transition: 1s;
}
.terminos:hover {
  transform: scale(1.1);
  color: #f8f8f8;
}

.titulotexto {
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 2px;
  width: 10px;
  color: #C16E70;
  font-size: 22px;
}

.parrafo {
  letter-spacing: 1px;
  overflow-wrap: break-word;
}

.titulotextoprincipal {
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
  width: 10px;
  color: #C16E70;
  font-size: 55px;
  font-stretch: 100%;
  opacity: 5;
}

.cursiva {
  font-style: italic;
}

.tituloquienessomos {
  word-spacing: 5px;
  letter-spacing: 1px;
  width: 10px;
  color: #f8f8f8;
  font-size: 30px;
  font-stretch: 100%;
  opacity: 5;
}

.titulocartaindex {
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
  width: 10px;
  color: #030027;
  font-size: 20px;
  font-stretch: 100%;
  opacity: 5;
}

header {
  background-color: #f8f8f8;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header div a {
  width: 10px;
  height: 10px;
}
header div img {
  height: 130px;
}
header div nav ul {
  display: flex;
  list-style: none;
}
header div nav ul li {
  margin: 10px;
}
header div nav ul li a {
  text-decoration: none;
  color: #030027;
  transition: 0.5s;
}
header div nav ul li a:hover {
  color: #C16E70;
}

.titulo {
  height: 700px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), url("../img/inicio2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  padding: 40px;
}
.titulo div {
  font-size: 20px;
}
.titulo div h2 {
  color: #f8f8f8;
  text-align: center;
  font-size: 40px;
  margin: 10px;
  position: relative;
  animation-name: moveToRight;
  animation-duration: 1.5s;
}
.titulo div {
  color: #f8f8f8;
  font-size: 20px;
  position: relative;
  animation-name: moveToRight;
  animation-duration: 1.5s;
}
.titulo div a {
  color: #f8f8f8;
  display: flex;
  align-items: center;
  margin: 10px;
}

.botonpaciente {
  color: #f8f8f8;
}
.botonpaciente a {
  color: #f8f8f8;
}

.funciona_titulo {
  background-color: #030027;
  height: auto;
  width: auto;
}
.funciona_titulo h2 {
  color: #f8f8f8;
  font-size: 25px;
}

.funciona {
  background-image: linear-gradient(#f8f8f8, #030027);
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-auto-rows: 250px;
  gap: 15px;
}

.cartasindex {
  flex-direction: column;
  padding: 30px;
}
.cartasindex img {
  opacity: 2;
  width: 40%;
  height: 40%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 4px;
}
.cartasindex p {
  text-align: center;
  padding: 15px;
  color: #f8f8f8;
}

.contacto {
  height: 900px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), linear-gradient(#f8f8f8, #030027);
  flex-direction: column;
  padding: 40px;
}
.contacto h2 {
  font-size: 50px;
}
.contacto p {
  color: #f8f8f8;
}

.textocontacto {
  text-align: center;
}

.espacio {
  text-align: center;
  padding: 100px;
}

.pacientes {
  width: auto;
  height: 800px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), url(../img/inicio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pacientes h2 {
  width: auto;
  color: #f8f8f8;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 100px;
  font-size: 40px;
  position: relative;
  animation-name: moveToRight;
  animation-duration: 1.5s;
}
.pacientes div {
  font-size: 20px;
  text-align: center;
  padding: 3px;
  position: relative;
  animation-name: moveToRight;
  animation-duration: 1.5s;
}

.formulario {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 600px;
  background-color: #030027;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  color: #f8f8f8;
  opacity: 0.9;
}
.formulario h3 {
  padding: 10px;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 2px;
  color: #C16E70;
  font-size: 22px;
}
.formulario p {
  padding: 10px;
  height: 40px;
  text-align: center;
  font-size: 17px;
}

.infopaciente {
  width: auto;
  height: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), linear-gradient(#f8f8f8, #030027);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.infopaciente div {
  height: 600px;
  width: 600px;
  margin: 50px;
  border-radius: 50px;
  box-shadow: -2px 15px 20px 0px #030027;
  -webkit-box-shadow: -2px 15px 20px 0px #030027;
  -moz-box-shadow: -2px 15px 20px 0px #030027;
}
.infopaciente div img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  image-rendering: -webkit-optimize-contrast;
}

.textoinfo {
  height: auto;
  width: 550px;
  margin: 40px;
  padding: 10px;
  text-align: center;
  opacity: 1;
  font-size: 18px;
  color: #f8f8f8;
}

.centrado select {
  border-radius: 10px;
  font-size: 16px;
  color: #030027;
  background-color: #f8f8f8;
}

.titulostaff {
  height: 80px;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), #030027;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulostaff h1 {
  color: #f8f8f8;
  font-size: 30px;
}

.cartassec {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), linear-gradient(#f8f8f8, #030027);
  height: 900px;
  width: auto;
}

.carta {
  width: auto;
  height: 50%;
  margin: 20px;
  transition: 1s;
}
.carta:hover {
  transform: scale(1.1);
  box-shadow: -2px 15px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 15px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 15px 20px 0px rgba(0, 0, 0, 0.75);
}
.carta img {
  width: 100%;
  height: 100%;
}
.carta h3 {
  height: 30px;
  color: #f8f8f8;
  background: #030027;
  text-align: center;
  font-size: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.cartaspac {
  height: 900px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), linear-gradient(#f8f8f8, #030027);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartapaciente {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin: 20px;
  transition: 1s;
}
.cartapaciente:hover {
  transform: scale(1.1);
}
.cartapaciente img {
  border-radius: 150px;
  width: 60%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -o-object-fit: cover;
     object-fit: cover;
}
.cartapaciente p {
  padding: 20px;
  text-align: center;
  color: #f8f8f8;
  font-size: auto;
}
.cartapaciente h3 {
  padding: 10px;
  height: 40px;
  color: #f8f8f8;
  background: #030027;
  text-align: center;
  font-size: 18px;
}

.especialista {
  height: 800px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.25)), url(../img/quienessomos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.especialista h2 {
  width: auto;
  color: #f8f8f8;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 100px;
  font-size: 40px;
  position: relative;
  animation-name: moveToRight;
  animation-duration: 1.5s;
}
.especialista div {
  font-size: 20px;
  text-align: center;
  padding: 3px;
  position: relative;
  animation-name: moveToRight;
  animation-duration: 1.5s;
}
.especialista div .formulario input {
  border-radius: 10px;
  text-align: center;
}

footer {
  background-color: #f8f8f8;
  font-size: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer h3 {
  font-size: 20px;
}
footer div img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

@media screen and (max-width: 1200px) {
  .infopaciente {
    height: auto;
    flex-direction: column;
  }
}
@media screen and (max-width: 1089px) {
  .pacientes {
    height: auto;
    flex-direction: column;
  }
  .especialista {
    height: auto;
    flex-direction: column;
  }
  .formulario {
    width: auto;
    height: auto;
  }
  .formulario p {
    font-size: 13px;
  }
}
@media screen and (max-width: 1018px) {
  .cartaspac {
    height: 1200px;
  }
  .cartapaciente {
    width: 50%;
  }
  .cartapaciente p {
    font-size: 15px;
  }
  .cartapaciente h3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 851px) {
  .cartaspac {
    height: auto;
    flex-direction: column;
  }
  .infopaciente {
    height: 1400px;
  }
  .infopaciente div {
    height: 500px;
    width: 400px;
  }
  .funciona {
    height: auto;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 660px) {
  header {
    height: auto;
    flex-direction: column;
    font-size: 12px;
    background-color: #f8f8f8;
  }
  header nav ul {
    align-items: center;
    padding: 10px;
  }
  .contacto {
    flex-direction: column;
    height: 600px;
    background-color: #f8f8f8;
    justify-content: space-evenly;
  }
  .contacto h2 {
    font-size: 25px;
  }
  .contacto p {
    font-size: 15px;
  }
  .boton {
    font-size: 15px;
  }
  .pacientes h2 {
    font-size: 30px;
  }
  .especialista h2 {
    font-size: 30px;
  }
  .cartas {
    width: 200px;
    height: 250px;
    padding: 20px;
  }
  .cartassec {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  .cartaspac {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  .titulostaff {
    justify-content: center;
  }
  .infopaciente {
    width: auto;
  }
  .textoinfo {
    height: auto;
    width: auto;
  }
  .formulario p {
    font-size: 12px;
    padding: 10px;
  }
}
@media screen and (max-width: 550px) {
  .infopaciente {
    height: 1500px;
  }
  .titulotextoprincipal {
    font-size: 40px;
  }
  .pacientes h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .funciona {
    height: auto;
    grid-template-columns: 1fr;
  }
  .funciona div {
    height: 90%;
  }
  footer {
    font-size: 12px;
    flex-direction: column;
  }
  footer h3 {
    font-size: 20px;
  }
  .indice4 {
    text-align: center;
  }
  .contacto h2 {
    font-size: 22px;
  }
  .contacto p {
    font-size: 13px;
  }
  .boton {
    font-size: 13px;
  }
}
@media screen and (max-width: 461px) {
  .cartaspac p {
    font-size: 13px;
  }
  .cartaspac h3 {
    font-size: 13px;
  }
  .infopaciente {
    height: 1800px;
  }
  .infopaciente div {
    height: 350px;
    width: 250px;
  }
  .funciona_titulo h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .titulotextoprincipal {
    font-size: 30px;
  }
}
@media screen and (max-width: 426px) {
  .indice4 {
    text-align: center;
  }
  header {
    flex-direction: column;
    background-color: #f8f8f8;
  }
  .pacientes h2 {
    font-size: 20px;
  }
  .pacientes {
    height: auto;
    align-items: center;
    justify-content: space-evenly;
  }
  .especialista h2 {
    font-size: 30px;
  }
  .especialista {
    height: auto;
    align-items: center;
    justify-content: space-evenly;
  }
  .cartassec {
    height: auto;
  }
  .titulostaff {
    justify-content: center;
    font-size: 30px;
  }
  .formulario input {
    width: 70%;
  }
  ::-moz-placeholder {
    font-size: 12px;
  }
  ::placeholder {
    font-size: 12px;
  }
  .centrado {
    align-items: center;
    text-align: center;
  }
  ::options {
    font-size: 12px;
  }
  header nav ul {
    flex-direction: column;
    padding: 0.5px;
    font-size: 12px;
    align-items: center;
  }
  .cartas {
    width: 200px;
    height: 250px;
  }
  .contacto {
    justify-content: end;
    height: auto;
  }
}
@media screen and (max-width: 360px) {
  header nav ul li {
    flex-direction: column;
  }
  .textocontacto {
    text-overflow: ellipsis;
  }
  .infopaciente {
    height: 2000px;
  }
}
@media screen and (max-width: 250px) {
  .funciona_titulo h2 {
    text-align: center;
  }
  ::-moz-placeholder {
    font-size: 9px;
  }
  ::placeholder {
    font-size: 9px;
  }
  .cartas {
    width: 200px;
    height: 250px;
  }
}/*# sourceMappingURL=estilos.css.map */