header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    height: 80px;
    padding: 10px;
    div{
        a{
            width: 10px;
            height: 10px;
        }
        img{
            height: 130px;         
        }
    }
    nav{
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 10px;
                a{
                    text-decoration: none;
                    color:#030027;
                    &:hover{
                        color: #C16E70; 
                    }
                }
            }
        }
    }

}