header{
    background-color:  $color-1;
    height: 80px;
    padding: 10px;
    @include flex (flex, space-around, center);
    div{
        a{
            width: 10px;
            height: 10px;
        }
        img{
            height: 130px;         
        }
    }
    div{
    nav{
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 10px;
                a{
                    text-decoration: none;
                    color: $color-2;
                    &:hover{
                        color: $color-3; 
                    }
                }
            }
        }
    }

}
}