@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Ubuntu", sans-serif;
    color: #030027;
}
.boton{
    border: 2px solid  #030027;
}
::placeholder{
    background-color:  #f8f8f8;
    color: #030027;
    font-size: 17px;
}
